@use 'lib' as *;

.button {
	$self: &;

	@include flex-center;

	gap: 10px;
	flex-direction: row;
	padding: 16px 18px;

	background: $accentColor;
	color: #ffffff;
	font-weight: 700;
	border-radius: 10px;

	box-shadow: 0px 4px 14px 0px #F0803847;

	img {
		object-fit: contain;
		width: 24px;
		height: 24px;
	}
}
