<footer class="footer">
    <div class="footer__container container">
        <div class="footer__bottom">
            <div class="footer__bottom-column">
                <p>
                    © 2026 ИОНАРТ
                </p>
                <p>
                    Все права защищены
                </p>
            </div>
            <div class="footer__bottom-column">
                <a href="#">Политика конфиденциальности</a>
                <a href="#">Согласие на обработку персональных данных</a>
            </div>
        </div>
        <div class="footer__main">
            <div class="footer__about">
                <a href="#" class="footer__logo">
                    <img loading="lazy" src="./img/logo.webp" alt="">
                </a>
                <p class="footer__desc">
                    Фоторамки и холсты на подрамнике для
                    ваших интерьеров, проектов и
                    памятных моментов.
                </p>
                <a href="#" class="footer__link">
                    Перейти в каталог
                    <b>↗</b>
                </a>
            </div>
            <div class="footer__columns">
                <div class="footer__column">
                    <h4 class="footer__column-title">Каталог</h4>
                    <div class="footer__lists">
                        <ul class="footer__list">
                            <li class="footer__list-item footer__list-item_main"><a href="#">Фоторамки</a></li>
                            <li class="footer__list-item"><a href="#">Пластиковые</a></li>
                            <li class="footer__list-item"><a href="#">Алюминиевые</a></li>
                        </ul>
                        <ul class="footer__list">
                            <li class="footer__list-item footer__list-item_main"><a href="#">Холсты на подрамнике</a>
                            </li>
                            <li class="footer__list-item"><a href="#">Плотность 420</a></li>
                            <li class="footer__list-item"><a href="#">Плотность 310</a></li>
                            <li class="footer__list-item"><a href="#">Холсты в рулонах</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer__column">
                    <h4 class="footer__column-title">Покупателям</h4>
                    <div class="footer__lists">
                        <ul class="footer__list">
                            <li class="footer__list-item"><a href="#">Условия оптового заказа</a></li>
                            <li class="footer__list-item"><a href="#">Доставка</a></li>
                            <li class="footer__list-item"><a href="#">Оплата</a></li>
                            <li class="footer__list-item"><a href="#">Ответы на вопросы</a></li>
                        </ul>
                    </div>
                </div>
                 <div class="footer__column">
                    <h4 class="footer__column-title">О компании</h4>
                    <div class="footer__lists">
                        <ul class="footer__list">
                            <li class="footer__list-item"><a href="#">Производство</a></li>
                            <li class="footer__list-item"><a href="#">О компании</a></li>
                            <li class="footer__list-item"><a href="#">Блог</a></li>
                            <li class="footer__list-item"><a href="#">Закупки</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- @@include("_sprite.svg") -->
<script src="js/common.js?v=0"></script>
</body>

</html>