<header class="header">
    <div class="header__top">
        <div class="header__top-container container">
            <p class="header__info">
                <img loading="lazy" src="./img/icons/box.svg" alt="">
                Оптовые поставки холстов и фоторамок от производителя
            </p>
            <div class="header__side">
                <div class="header__contacts">
                    <p class="header__contact">
                        <img src="./img/icons/time.svg" alt="">
                        Пн–Пт 9:00–18:00
                    </p>
                    <a href="#" class="header__contact">
                        <img src="./img/icons/phone.svg" alt="">
                        +7 926 323 05 11
                    </a>
                </div>
                <div class="header__socials">
                    <a href="#" class="header__social">
                        <img loading="lazy" src="./img/icons/max.webp" alt="">
                    </a>
                    <a href="#" class="header__social">
                        <img loading="lazy" src="./img/icons/telegram.webp" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header__main">
        <div class="header__main-container container">
            <a href="#" class="header__logo">
                <img loading="lazy" src="./img/logo.webp" alt="">
            </a>
            <div class="header__menu">
                <ul class="header__navigation">
                    <li class="header__navigation-item"><a href="#">Каталог</a></li>
                    <li class="header__navigation-item"><a href="#">Покупателям</a></li>
                    <li class="header__navigation-item"><a href="#">О компании</a></li>
                    <li class="header__navigation-item"><a href="#">Блог</a></li>
                    <li class="header__navigation-item"><a href="#">Контакты</a></li>
                </ul>
                <div class="header__side">
                    <div class="header__buttons">
                        <a href="#" class="header__button">
                            <img loading="lazy" src="./img/icons/search.svg" alt="" class="header__button-icon">
                            Найти
                        </a>
                        <a href="#" class="header__button">
                            <img loading="lazy" src="./img/icons/basket.svg" alt="" class="header__button-icon">
                            <b class="header__button-count">3</b>
                            Корзина
                        </a>
                    </div>
                    <button type="button" class="header__callback-button button">
                        Получить консультацию
                    </button>
                </div>
            </div>
            <button type="button" class="header__burger">
                <span></span>
            </button>
        </div>
    </div>
</header>