@use 'lib' as *;

.popular {
	$self: &;

	background: #F8F2EB;
	padding: fluid(70px, 35px) 0;

	&__container {

	}

	&__desc {
		margin-bottom: 12px;
		font-size: 14px;
		color: $accentColor;
		text-transform: uppercase;
		font-weight: 700;
	}

	&__top {
		display: flex;
		flex-direction: row;
		align-items: end;
		justify-content: space-between;
		margin-bottom: 32px;
		gap: 24px;

		@include media("<=md") {
			flex-direction: column;
			justify-content: start;
			align-items: start;
		}
	}

	&__title {
		font-weight: 600;
		font-size: fluid(48px, 32px);
	}

	&__navigation {
		padding: 6px;
		background: #FFFDF9B2;
		border-radius: 100px;
		border: 1px solid #E8752F38;
		display: flex;
		flex-direction: row;
		gap: 6px;
	}

	&__navigation-btn {
		@include flex-center;

		border-radius: 100px;
		font-size: 14px;
		font-weight: 700;
		padding: 16px 21px;
		color: $accentDarkColor;
		transition: background $hoverTransition, color $hoverTransition;

		&:hover:not(.active) {
			background: #FFF3E9;
		}

		&.active {
			background: #E8752F;
			color: #ffffff;
		}
	}

	&__tab {
		display: none;
		grid-template-columns: repeat(4, 1fr);
		gap: 18px;

		&.active {
			display: grid;
			animation: fade 0.3s forwards;
		}

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 18px;

		&.active {
			display: grid;
			animation: fade 0.3s forwards;
		}

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__card {

	}

}
