@use 'lib' as *;

.footer {
	$self: &;

	background: $bgThirdColor;
	color: #AAA89E;

	&__container {
		display: flex;
		flex-direction: column-reverse;
	}

	&__bottom {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: fluid(28px, 12px);
		padding: 24px 0 48px 0;
		border-top: 1px solid #F5F2E924;

		@include media("<=md") {
			flex-direction: column;
			align-items: start;
		}
	}

	&__bottom-column {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: fluid(28px, 12px);

		a {
			transition: color $hoverTransition;

			&:hover {
				color: $accentColor;
			}
		}

		@include media("<=xs") {
			flex-direction: column;
			align-items: start;
		}
	}

	&__columns {
		display: grid;
		grid-template-columns: repeat(3, auto);
		gap: 64px;

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr);
			gap: 48px;
		}
	}

	&__column {

	}

	&__main {
		min-height: 494px;
		margin-bottom: 24px;

		display: grid;
		grid-template-columns: 300px auto;
		justify-content: space-between;
		padding-top: 48px;

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__about {
		@include media("<=xs") {
			margin-bottom: 32px;
		}
	}

	&__logo {
		margin-bottom: 28px;
		display: block;
		transition: opacity $hoverTransition;

		img {
			height: fluid(64px, 48px);
			object-fit: contain;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	&__desc {
		margin-bottom: 30px;
	}

	&__link {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		font-size: 14px;
		color: #ffffff;
		font-weight: 700;
		padding: 16px 20px;
		border-radius: 999px;
		box-shadow: inset 0 0 0 1px #F5F2E924;
		width: fit-content;
		transition: background $hoverTransition, box-shadow $hoverTransition, transform $hoverTransition;

		b {
			color: $accentColor;
			font-weight: 400;
			transition: color $hoverTransition, transform $hoverTransition;
		}

		&:hover {
			background: $accentColor;
			box-shadow: inset 0 0 0 1px $accentColor;
			transform: translateY(-2px);

			b {
				color: #ffffff;
				transform: translate(2px, -2px);
			}
		}
	}

	&__column-title {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 24px;
		padding-bottom: 12px;
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: 0; left: 0;
			width: 24px; height: 2px;
			background: $accentColor;
		}
	}

	&__lists {
		display: flex;
		flex-direction: column;
		gap: 48px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 12px;
	}

	&__list-item {

		font-size: 14px;

		a {
			position: relative;
			transition: color $hoverTransition;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 100%;
				height: 1px;
				background: $accentColor;
				transform: scaleX(0);
				transform-origin: right;
				transition: transform $hoverTransition;
			}

			&:hover {
				color: $accentColor;

				&::after {
					transform: scaleX(1);
					transform-origin: left;
				}
			}
		}

		&_main {
			color: #ffffff;
			font-weight: 600;
		}
	}

}
